html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

#root {
  font-family: Montserrat, sans-serif;
  justify-content: center;
  align-items: center;
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 97vh;    
}